body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    background-color: #333;
    padding: 30px;
    width: 350px;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

.output {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.output input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

.output button {
    padding: 10px;
}

.option {
    margin: 15px 0;
}

.option input[type="number"] {
    width: 60px;
    padding: 5px;
}

.generate {
    width: 100%;
    padding: 12px;
    margin-top: 15px;

    background-color: #4CAF50;
    color: white;

    border: none;
    border-radius: 8px;

    font-size: 16px;
    cursor: pointer;
}

.generate:hover {
    background-color: #45a049;
}